@charset "utf-8";
/* CSS Document */

.h2{
	width: 604px;
	height: 203px;
	position: absolute;
	left: 321px;
	top: 403px;
}
.h3{width=282px;
	height=257px;
	position: absolute;
	width: 265px;
	height: 224px;
	left: 310px;
	top: 149px;
}
.h4{width=282px;
	height=257px;
	position: absolute;
	left: 225px;
	width: 558px;
	height: 93px;
	top: 13px;
}
.h5{width=500px;
	height=257px;
	position: absolute;
	width: 254px;
	height: 220px;
	left: 592px;
	top: 150px;
	
}
.h6{width=282px;
	height=257px;
	position: absolute
}
.h7{width=500px;
	height=257px;
	position: absolute;
	left: 512px;
	width: 540px;
	height: 59px;
	top: 655px;
	
}
#ww1{
	font: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 50px
}
#ww4{font: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 20px;
	font-family: acme}
