@charset "utf-8";
/* CSS Document */
.e2{
	width: 546px;
	height: 283px;
	position: absolute;
	left: 516px;
	top: 410px;
}
.e3{width=282px;
	height=257px;
	position: absolute;
	width: 265px;
	height: 224px;
	left: 525px;
	top: 151px;
}
.e4{width=282px;
	height=257px;
	position: absolute;
	left: 554px;
	width: 369px;
	height: 93px;
	top: 16px;
}
.e5{width=500px;
	height=257px;
	position: absolute;
	width: 254px;
	height: 220px;
	left: 804px;
	top: 153px;
	
}
.e6{width=282px;
	height=257px;
	position: absolute
}
.e7{width=500px;
	height=257px;
	position: absolute;
	left: 516px;
	width: 540px;
	height: 59px;
	top: 711px;
	
}
#ww5{
	font: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 20px;
	font-family: acme
}
#ww1{
	font: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 50px
}
